.barContainer {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.touchable {
  position: absolute;
  left: 10px;
}

.barRow {
  width: 100vw;
}

.titleRow {
  display: flex;
  align-items: center;
  flex: 1;
}

.title {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}

.navigationBar {
  width: 100vw;
}

.bg {
  width: 100vw;
}

.back-icon {
  width: 36px;
  height: 36px;
}
