.clipping
  padding 1rem
  box-sizing border-box
  box-shadow 0 0 .5rem rgba(0, 0, 0,0.2)
  margin-bottom 1rem
  border-radius 12rpx
  background-image linear-gradient(to bottom right, #6b7280, #374151)
  &-title
    display block
    font-size 20rpx
    color #fff
    line-height 1.6
    font-weight 300
    text-align right
  &-content
    display block
    font-size 24rpx
    font-weight 400
    color #fff
    line-height 1.6
    margin-bottom 1rem
