@keyframes fade-in {
  from {
    opacity 0
    transform translateY(1rem)
  }
  to {
    opacity 1
    transform translateY(0rem)
  }
}

.clipping
  padding 1rem
  box-sizing border-box
  box-shadow 0 0 .5rem rgba(0, 0, 0,0.2)
  margin-bottom 1rem
  animation fade-in .35s
  border-radius 4px
  &-title
    display block
    font-size 24px
    font-weight 900
    margin-bottom 1rem
  &-content
    display block
    font-size 20px
    font-weight 300
