.clipping
  padding 1rem
  box-sizing border-box
  box-shadow 0 0 .5rem rgba(0, 0, 0,0.2)
  margin-bottom 1rem
  animation fade-in .35s
  border-radius 4rpx
  &-title
    display block
    font-size 24rpx
    font-weight 900
    margin-bottom 1rem
  &-content
    display block
    font-size 20rpx
    font-weight 300
