@import "../../styles/theme"

.bind-page
  font-size 24px
  display flex
  flex-direction column
  height 100vh
  background-image url('https://kindle.annatarhe.com/share_bg_3-be74edb270589825794f1a99289d62c8.jpg')
  background-size cover
  .body
    display flex
    flex 1
    flex-direction column
    background $card-bg
    border-radius 8px
    width 100%
    box-shadow 0 0 10px #888
    align-items center
    .tip
      font-size 24px
      color $lite-grey
      text-align center
      margin 35px 13px

    .bind-form
      width 100%
    .form-input
      font-size: 24px
      width calc(100% - 46px)
      margin 20px 13px
      padding 10px
      background-color #ffffff
    .form-submit
      margin-top 30px
      font-size 36px
      border 0
      line-height 1
      padding 30px 0
      width 100%
      border-top-left-radius 0
      border-top-right-radius 0
      border-bottom-left-radius 8px
      border-bottom-right-radius 8px
      color #ffffff
      background-color: $knote-blue
