@import "../../styles/theme"

.bind-page
  font-size 24rpx
  display flex
  flex-direction column
  height 100vh
  background-image url('https://kindle.annatarhe.com/share_bg_3-be74edb270589825794f1a99289d62c8.jpg')
  background-size cover
  .body
    display flex
    flex 1
    flex-direction column
    background $card-bg
    border-radius 8rpx
    width 100%
    box-shadow 0 0 10rpx #888
    align-items center
    justify-content center
    .inner
      width 70%
    .tip
      display block
      font-size 24rpx
      color $red
      text-align center
      margin 35rpx 13rpx
    .scan-btn
      background-color $knote-blue
      color #fff
      margin-top 1rem
      padding .5rem 1rem
