@import "../../styles/theme"

.bind-page
  font-size 24px
  display flex
  align-items center
  justify-content center
  flex-direction column
  height 100vh
  background-image url('https://kindle.annatarhe.com/share_bg_3-be74edb270589825794f1a99289d62c8.jpg')
  background-size cover
  .body
    display flex
    flex-direction column
    background rgba(88, 199, 88, .9)
    border-radius 8px
    padding 20px
    box-shadow 0 0 10px #888
    .form-input
      font-size: 24px
      width 500px
      padding 10px
      border-left 6px solid #333
      margin-top 20px
    .form-submit
      margin-top 30px
      font-size 36px
      border 0
      line-height 1
      padding 30px 0
      background-color: $knote-blue
