.modal-mask
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  background rgba(0,0,0, .8)
  display flex
  align-items center
  justify-content center
  animation scale-in .35s
  .download-btn
    border 0

  .share-canvas
    position fixed
    top 999999px
    left 999999px

