$round-size = 8rpx

.book
  margin 15rpx
  border-radius $round-size
  box-shadow 0 0 8rpx #eee
  height 900rpx
  width calc(95vw - 60rpx)
  position relative
  background-size cover
  background-position 50% 50%
  animation fade-in .35s

.info
  position absolute
  bottom 0
  left 0
  width 100%
  background linear-gradient(0deg,#333,hsla(0,0%,100%,.2))
  backdrop-filter blur(10rpx)
  border-bottom-left-radius $round-size
  border-bottom-right-radius $round-size
  display flex
  flex-direction column
  padding 24rpx 16rpx
  box-sizing border-box
  color white

.title
  font-size 38rpx

.author
  font-size 26rpx
