.user
  display flex
  flex-direction column
  min-height 100vh
  background-color #ecf0f1

.user-solid-rect
  background linear-gradient(0deg, #9b59b6, #8e44ad);
  width 100vw
  height 400px

.info-container
  margin-top -90px

.divider
  height 2px
  width calc(100% - 40px)
  margin 20px
  background-color #bdc3c7

.user-ing
  display flex
  justify-content center
  align-content center
