.container
  margin 1rem

.book
  margin-top 1rem
  width 100%
  display flex
  &-cover
    flex 1
    min-width 40%
    border-radius 4px
    // transform translateY(-1rem)
  &-info
    display flex
    flex-direction column
    margin-left 1rem
  &-title
    display block
    font-size 24px
    font-weight 900
    margin-bottom 1rem
  &-author
    display block
    font-size 20px
    font-weight 500
    margin-bottom 1rem
  &-summary
    display block
    font-size 16px
    font-weight 300
