.container
  margin 1rem
  transform translateY(-100rpx)

.book
  margin-top 1rem
  width 100%
  display flex
  &-page
    width 100vw
    overflow hidden
    background-color #fff
  &-header-detail
    display flex
    align-items center
    justify-content space-between
    margin 1rem
    transform translateY(-100rpx)
  &-img
    width 200rpx
    height 300rpx
    border-radius 8rpx
    box-shadow 0 0 4rpx 0

  &-cover
    flex 1
    min-width 40%
    width 100vw
    border-radius 4rpx
    filter blur(30rpx)
    background-color rgba(0,0,0, .5)
    overflow hidden
    // transform scale(1.1)
    // transform translateY(-1rem)
  &-info
    display flex
    flex-direction column
    margin-left 1rem
    max-width 60vw
  &-title
    display block
    font-size 24rpx
    font-weight 900
    margin-bottom 1rem
  &-author
    display block
    font-size 20rpx
    font-weight 500
    margin-bottom 1rem
  &-summary
    display block
    font-size 16rpx
    font-weight 300
