.card
  margin 0 20px 0 20px
  padding 20px
  border-radius 8px
  box-shadow 0 0 10px #3498db
  display flex
  justify-content space-around
  align-items center
  background-color #3498db

.avatar
  border-radius 100%
  width 120px
  height 120px

.info
  display flex
  flex-direction column
  min-width 350px

.name
  display block
  font-size 24px
.email
  display block
  font-size 20px
