.card
  margin 0 20rpx 0 20rpx
  padding 20rpx
  border-radius 8rpx
  box-shadow 0 0 10rpx #3498db
  display flex
  justify-content space-around
  align-items center
  background-color  rgba(142, 189, 227, .99)
  backdrop-filter blur(10rpx)
  overflow hidden

.avatar
  border-radius 100%
  width 120rpx
  height 120rpx

.fakeavatar
  border-radius 100%
  width 120rpx
  height 120rpx
  background-color #1abc9c
  color #ffffff
  display flex
  align-items center
  justify-content center
  font-size 22rpx

.info
  display flex
  flex-direction column
  min-width 350rpx

.name
  display block
  font-size 24rpx
.email, .count
  display block
  font-size 20rpx
