.card
  margin 0 20px 0 20px
  padding 20px
  border-radius 8px
  box-shadow 0 0 10px #3498db
  display flex
  justify-content space-around
  align-items center
  background-color  rgba(142, 189, 227, .99)
  backdrop-filter blur(10px)
  overflow hidden

.avatar
  border-radius 100%
  width 120px
  height 120px

.fakeavatar
  border-radius 100%
  width 120px
  height 120px
  background-color #1abc9c
  color #ffffff
  display flex
  align-items center
  justify-content center
  font-size 22px

.info
  display flex
  flex-direction column
  min-width 350px

.name
  display block
  font-size 24px
.email, .count
  display block
  font-size 20px
